{% extends 'town/base.html' %}
{% load humanize %} 
{% block content %}
    <h1>{{ shop.name }}</h1>
    <br>
    <br>
    {{ shop.description| linebreaks }}
    <h2>商品一覧</h2>
    <ul>
    {% with stocks=shop.stock_set.all %}
    {% for stock in stocks %}
        {% with item=stock.item %}
        <li>{{ item.name }}　<br>
            金額　{{ item.price|intcomma }}
            <br>
            残り {{ stock.quantity }}</li>
        {% endwith %}
    {% endfor %}
    {% endwith %}
    </ul>
{% endblock %}