{% extends 'town/base.html' %}
{% load humanize %} 
{% block content %}
    <h1>{{ shop.name }}</h1>
    <br>
    <br>
    {{ shop.description| linebreaks }}
    <h2>商品一覧</h2>
    
    {% with stocks=shop.stock_set.all %}
    {% if not stocks %}
    ただいま商品がありません。
    {% else %}
    <ul>
    {% for stock in stocks %}
        {% with item=stock.item %}
        <li><a href="{% url 'town.views.item_detail' pk=item.pk %}">{{ item.name }}　<br>
            金額　{{ item.price|intcomma }}
            <br>
            残り {{ stock.quantity }}
            <br>
            {{ item.description|linebreaks }}</li></a>
        {% endwith %}
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
{% endblock %}