{% extends 'town/base.html' %}
{% block content %}
    <h2>This is {{ town.name }}</h2>
    <ul>
    {% for shop in shops %}
        <li>
            <a href="{% url 'town.views.shop_detail' pk=shop.pk %}"><div>
                {{ shop.name }}
                <br />
                店長: {{ shop.owner }}
                <br />
                <br />
                店長の一言:
                {{ shop.description|linebreaks }}
                <br />
            </div></a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}